[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "0.21"
joblib = "*"
flask = "*"
pytest = "*"

[dev-packages]
pandas = "*"
numpy = "*"
sklearn = "0.21"
joblib = "*"

[requires]
python_version = "3.8"
