[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "0.22"
joblib = "*"
flask = "*"
pytest = "*"
scikit-learn = "==0.21.3"

[dev-packages]
pandas = "*"
numpy = "*"
sklearn = "0.22"
joblib = "*"

[requires]
python_version = "3.8"
